## **SQL:-**

In [1]:
import mysql.connector

:

In [2]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='9336'    
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES;')
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002276878B470>
('abhishek',)
('collage',)
('college',)
('hfcl',)
('information_schema',)
('lab2',)
('mysql',)
('performance_schema',)
('scholl_db',)
('sys',)
('temp3',)
('test1',)
('test_db',)
('testdb',)
('upadhyay',)

In [3]:
mycursor.execute('CREATE TABLE IF NOT EXISTS test1.test_table(c1 INT ,c2 VARCHAR(50))')

In [4]:
# print(mycursor.execute('INSERT into test1.test_table'))

In [5]:
import mysql.connector

In [6]:
mydb=mysql.connector.Connect(
    host='localhost',
    user='root',
    password='9336'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227687B9E50>

In [7]:
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES;")
for x in mycursor:
    print(x)

('abhishek',)
('collage',)
('college',)
('hfcl',)
('information_schema',)
('lab2',)
('mysql',)
('performance_schema',)
('scholl_db',)
('sys',)
('temp3',)
('test1',)
('test_db',)
('testdb',)
('upadhyay',)

## **use database ;**

In [11]:
mycursor.execute('USE collage;')

## **TABLE:**
A table is a collection of related  data  held in a table format within a database.

```
CREATE TABLE students(

id INT,
name VARCHAR(100)
)

CREATE TABLE students (name VARCHAR(100), age INT )
```

In [12]:
mycursor.execute('SHOW DATABASES')

In [16]:
import mysql.connector

# Establishing the connection
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="9336",
  database="college"
)

# Creating a cursor object using the cursor() method
mycursor = mydb.cursor()

# Executing the SQL command
mycursor.execute("CREATE TABLE students (name VARCHAR(255), roll_no INT, age INT)  IF NOT EXIST")

# Committing the changes (if necessary)
mydb.commit()

# Closing the connection
mydb.close()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'IF NOT EXIST' at line 1

## **SHOW COLUMNS FROM STUDENTS;**

In [ ]:
import mysql.connector

# Establish the connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="9336",
  database="college"
)


# Creating a cursor object
mycursor = mydb.cursor()

# SQL query to show columns of a specific table
mycursor.execute("SHOW COLUMNS FROM students")

# Fetch all the columns
columns = mycursor.fetchall()

# Display the columns
for column in columns:
    print(column)

# Closing the connection
# mydb.close()

('name', 'varchar(255)', 'YES', '', None, '')
('roll_no', 'int', 'YES', '', None, '')
('age', 'int', 'YES', '', None, '')

In [ ]:
mydb.cursor

## **CHECKING YOUR TABLE**
```bash
DESC TABLE 
```

In [ ]:
# mycursor.execute('DESC students;')
# # mycursor.comit()

## **Adding data into a Table:-**
```bash
INSERT INTO students(id ,name)


```

In [10]:
import mysql
mydb=mysql.connect.connect(
    host='localhost',
    user='root',
    password='9336'
)
mydb

## **READING DATA FROM A TABLE:-**
```bash
SELECT * FROM <table_name>
```

In [13]:
import mysql
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='9336'
)
mycurosr=mydb.cursor()
mycurosr.execute("SHOW DATABASES ;")
for x in mycurosr:
    print(x)

('abhishek',)
('collage',)
('college',)
('hfcl',)
('information_schema',)
('lab2',)
('mysql',)
('performance_schema',)
('scholl_db',)
('sys',)
('temp3',)
('test1',)
('test_db',)
('testdb',)
('upadhyay',)

## **READ OR PRINT A COLUMN:-**

```bash

SELECT COLUMN FROM TABLE_NAME;
```

## **CONDITION IN A GIVEN STUCENTS**
```bash
SELECT * FROM students WHERE id=103;
```

## **MODIFING/UPDATE DATA FROM A TABLE:-**
```bahs
UPDATE students
SET concat=1245
WHERE name='Abhishek';

```

## **DELETING A VALUE IN A GIVEN TABLE**
```BASH
DELETE FROM <table_name>
WHERE <conition>
```

## **Drop a table:-**
```bash
DROP TABLE <table_name>

```

# **NOT NULL**

```BASH
CREATE TABLE customer
(
    id INT NOT NULL,
    name VARCHAR(255) NOT NULL
);
```

In [ ]:
import mysql
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='9336'
)
mycurosr=mydb.cursor()
mycurosr.execute("SHOW DATABASES ;")
for x in mycurosr:
    print(x)

In [23]:
import mysql.connector

# Establishing the connection
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='9336'
)

# Creating a cursor object
mycursor = mydb.cursor()

# Executing the SQL command
mycursor.execute("CREATE DATABASE shoap;")

# Closing the cursor
mycursor.close()

# Closing the connection (optional, but recommended)
mydb.close()