## **SQL:-**

In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host='localhost',
    user='root',
    password='9336'    
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES;')
for x in mycursor:
    print(x)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000281C970E6F0>
('abhishek',)
('collage',)
('college',)
('hfcl',)
('information_schema',)
('lab2',)
('mysql',)
('performance_schema',)
('sys',)
('temp3',)
('test1',)
('testdb',)
('upadhyay',)

In [3]:
mycursor.execute('CREATE TABLE IF NOT EXISTS test1.test_table(c1 INT ,c2 VARCHAR(50))')

In [5]:
# print(mycursor.execute('INSERT into test1.test_table'))

In [9]:
import mysql.connector

In [10]:
mydb=mysql.connector.Connect(
    host='localhost',
    user='root',
    password='9336'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000287E69F8BF0>

In [11]:
mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES;")
for x in mycursor:
    print(x)

('abhishek',)
('collage',)
('college',)
('hfcl',)
('information_schema',)
('lab2',)
('mysql',)
('performance_schema',)
('scholl_db',)
('sys',)
('temp3',)
('test1',)
('test_db',)
('testdb',)
('upadhyay',)