In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host='localhost', 
    user='root', password='9336'
    
    
    
)

In [3]:
mycursor=mydb.cursor() 
mycursor.execute('SHOW DATABASES;') 
for x in mycursor:
    print(x)
    
mycursor.close()

('abhishek',)
('collage',)
('college',)
('hfcl',)
('information_schema',)
('lab2',)
('mysql',)
('performance_schema',)
('scholl_db',)
('shoap',)
('shop',)
('sys',)
('temp3',)
('test1',)
('test_db',)
('testdb',)
('upadhyay',)

True

In [4]:
mycursor=mydb.cursor()
mycursor.execute('USE collage;')

In [5]:
mycursor=mydb.cursor()
mycursor.execute('CREATE TABLE IF NOT EXISTS students(name VARCHAR(50) , id INT PRIMARY KEY NOT NULL, mob_no INT NOT NULL );')

In [6]:
mycursor.execute('DESC student;')
for x in mycursor:
    print(x)

('name', 'varchar(50)', 'YES', '', None, '')
('id', 'int', 'YES', '', None, '')
('mob_no', 'int', 'YES', '', None, '')

In [7]:
sql_query="INSERT INTO students(name,id,mob_no) VALUES('ABHISHEK UPDAHYAY',107,9336821380)"

In [8]:
sql_query = "INSERT INTO  students(name,id,mob_no) VALUES (%s, %s, %s)"
data = ("ABHISHEK", 107, 9336821380)
mycursor.execute(sql_query, data)
mydb.commit()
print(mycursor.rowcount, "record inserted.")
mycursor.close()
mydb.close()

DataError: 1264 (22003): Out of range value for column 'mob_no' at row 1

:

In [ ]:
mycursor.execute(sql_query)
mydb.commit() 
print(mycursor.rowcount(),'record inserted')
mycursor.close()
mydb.close()

:

In [ ]:
SHOW DATABASES;

: