In [200]:
# ! pip install ipykernel

### Day -1

```
Python is high level Object Oriented Programming Language which is devloped by Guido van Russam in 1991-92 it is Dynamicaly type laguage 
```

In [201]:
print("Hellow World")

Hellow World

In [202]:
print(1)

1

In [203]:
print("Hellow World",2)

Hellow World 2

In [1]:
print("df"+9)

TypeError: can only concatenate str (not "int") to str

In [204]:
print("Abhishek"+" Upadhyay")

Abhishek Upadhyay

```
Python Varibale
```
Dynmic memory allocation

In [205]:
a=1
a

1

```
type
```

In [206]:
type(a)

int

In [207]:
b="Abhishek"
type(b)

str

In [208]:
a=True
type(a)

bool

In [209]:
a=False
type(a)

bool

```
By default True =1
By default False =0

```

In [210]:
print(True-False)

1

In [211]:
a=1+4j
type(a)

complex

In [212]:
a.real

1.0

In [213]:
a.imag

4.0

In [214]:
a=3j
type(a)

complex

```
Mutable And Immutable object
```
List-->Mutable
Str-->Immutable

In [215]:
l=[2,1,2,3,2,"ABhishek"]
type(l)

list

In [216]:
l[1]

1

In [217]:
a="Abhishek"
type(a)

str

```
Str Object does not support item assignment
```

In [218]:
a[1]
# a[1]="A"

'b'

In [219]:
l[1]=200
l

[2, 200, 2, 3, 2, 'ABhishek']

In [220]:
l[3]="Abhishek"
l

[2, 200, 2, 'Abhishek', 2, 'ABhishek']

## Operator

```
Arthimatic operator

```

In [221]:
a=13
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) # Division Flor operator
print(a%b) # Remainder operator
print(a**b)

15
11
26
6.5
6
1
169

```
Comparision operator
```

In [222]:
a=10
b=4
print(a>b)
print(a<b)
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)
# print(a===b)

True
False
False
True
False
True

```
Bool operator
```

In [223]:
a=True
b=False

In [224]:
print(a+b)
print(a-b)
print(a*b)

1
1
0

```
Logical Operator
```

In [225]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [226]:
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
True
True
False

In [227]:
print(not True)
print(not False)

False
True

```
Bitwise operator
```

In [228]:
10 & 4

0

In [229]:
bin(10)

'0b1010'

In [230]:
bin(4)

'0b100'

In [231]:
bin(0)

'0b0'

In [232]:
bin(10) and bin(4)

'0b100'

In [233]:
11 | 6

15

In [234]:
bin(11)

'0b1011'

In [235]:
bin(6)

'0b110'

In [236]:
bin(11) or bin(6)

'0b1011'

In [237]:
bin(15)

'0b1111'

In [238]:
~20

-21

In [239]:
bin(20)

'0b10100'

In [240]:
bin(-21)

'-0b10101'

In [241]:
a=8

```
Right Shift operator
```

In [242]:
a>>2

2

In [243]:
bin(a)

'0b1000'

In [244]:
bin(2)

'0b10'

``` 
Left shift

```

In [246]:
a=20
a<<2

80

In [248]:
bin(a)

'0b10100'

In [249]:
bin(80)

'0b1010000'

```
Assign operator
```

In [250]:
a=12
a="Abhsihek"

In [258]:
a=12
a+=1
a

13

```
Increment /Decrement operator

```

2

2

```
Condition & Loops & input
```

In [269]:
age=int(input("enter your age"))
if (age<18):
    print("You will not drive the car")
else:
    print("You will drive the car")

You will drive the car

In [272]:
a=1223
b=232
c=34
if(a>b):
    if(a>c):
        print(f"{a} is gretest number")
    else:
        print(f"{c} is gretest number")
    
elif(b>c):
    print(f"{b} is gretest number")
else:
    print(f"{c} is gretest number")

1223 is gretest number

In [276]:
n=4
i=1
while(i<n):
    print(i)
    i=i+1

1
2
3

```
for i in range(start,stop,jump):
    pass

```

In [280]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [281]:
name="Abhishek"
for i in name:
    print(i)

A
b
h
i
s
h
e
k

```
len
```

In [283]:
len(name)

8

```
break Continue

```

In [289]:
for i in range(10):
    print(i)
    if (i==3):
        break

0
1
2
3

In [299]:
for i in range(10):
    # print(i)
    if (i==3):
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [300]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]