In [ ]:
Here are some common Python interview questions focused on numbers:

### Basic Questions

1. **Check if a number is prime:**
    ```python
    def is_prime(n):
        if n <= 1:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True
    ```

2. **Generate Fibonacci sequence:**
    ```python
    def fibonacci(n):
        sequence = [0, 1]
        while len(sequence) < n:
            sequence.append(sequence[-1] + sequence[-2])
        return sequence
    ```

3. **Check if a number is a palindrome:**
    ```python
    def is_palindrome(n):
        return str(n) == str(n)[::-1]
    ```

4. **Find the factorial of a number:**
    ```python
    def factorial(n):
        if n == 0:
            return 1
        return n * factorial(n - 1)
    ```

5. **Check if a number is an Armstrong number:**
    ```python
    def is_armstrong(n):
        num_str = str(n)
        power = len(num_str)
        total = sum(int(digit) ** power for digit in num_str)
        return total == n
    ```

### Intermediate Questions

1. **Find the greatest common divisor (GCD) of two numbers:**
    ```python
    def gcd(a, b):
        while b:
            a, b = b, a % b
        return a
    ```

2. **Find the least common multiple (LCM) of two numbers:**
    ```python
    def lcm(a, b):
        return abs(a * b) // gcd(a, b)
    ```

3. **Count the number of digits in a number:**
    ```python
    def count_digits(n):
        return len(str(n))
    ```

4. **Sum of digits of a number:**
    ```python
    def sum_of_digits(n):
        return sum(int(digit) for digit in str(n))
    ```

5. **Check if a number is a perfect number:**
    ```python
    def is_perfect(n):
        return n == sum(i for i in range(1, n) if n % i == 0)
    ```

### Advanced Questions

1. **Find all prime factors of a number:**
    ```python
    def prime_factors(n):
        i = 2
        factors = []
        while i * i <= n:
            if n % i:
                i += 1
            else:
                n //= i
                factors.append(i)
        if n > 1:
            factors.append(n)
        return factors
    ```

2. **Check if a number is a happy number:**
    ```python
    def is_happy_number(n):
        def get_next(number):
            return sum(int(char) ** 2 for char in str(number))
        
        slow = n
        fast = get_next(n)
        while fast != 1 and slow != fast:
            slow = get_next(slow)
            fast = get_next(get_next(fast))
        return fast == 1
    ```

3. **Find the nth prime number:**
    ```python
    def nth_prime(n):
        count = 0
        num = 1
        while count < n:
            num += 1
            if is_prime(num):
                count += 1
        return num
    ```

4. **Find the sum of all primes below a given number:**
    ```python
    def sum_of_primes_below(n):
        sieve = [True] * n
        sieve[0:2] = [False, False]
        for start in range(2, int(n**0.5) + 1):
            if sieve[start]:
                sieve[start*start:n:start] = [False] * len(range(start*start, n, start))
        return sum(i for i, is_prime in enumerate(sieve) if is_prime)
    ```

5. **Check if two numbers are coprime:**
    ```python
    def are_coprime(a, b):
        return gcd(a, b) == 1
    ```

These questions cover a range of difficulties and concepts, helping assess a candidate's understanding of Python and number manipulation.

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('car-dekho').getOrCreate()

In [5]:
spark

In [6]:
df=spark.read.csv(r'E:\DATA SCIENCE 101 DAYS CHALENGE\Notebooks\8-Spark\cardekho_dataset.csv',inferSchema=True,header=True)

In [8]:
df.show()

+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|_c0|            car_name|        brand|      model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|
+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|  0|         Maruti Alto|       Maruti|       Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|
|  1|       Hyundai Grand|      Hyundai|      Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|     82.0|    5|       550000|
|  2|         Hyundai i20|      Hyundai|        i20|         11|    60000| Individual|   Petrol|           Manual|   17.0|  1197|     80.0|    5|       215000|
|  3|         Maruti Alto|       Maruti|       Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|
|  4|       Ford Ecosport|         Ford|   Ecosport|          6|    30000|     Dealer|   Diesel|           Manual|  22.77|  1498|    98.59|    5|       570000|
|  5|      Maruti Wagon R|       Maruti|    Wagon R|          8|    35000| Individual|   Petrol|           Manual|   18.9|   998|     67.1|    5|       350000|
|  6|         Hyundai i10|      Hyundai|        i10|          8|    40000|     Dealer|   Petrol|           Manual|  20.36|  1197|     78.9|    5|       315000|
|  7|      Maruti Wagon R|       Maruti|    Wagon R|          3|    17512|     Dealer|   Petrol|           Manual|  20.51|   998|    67.04|    5|       410000|
|  8|       Hyundai Venue|      Hyundai|      Venue|          2|    20000| Individual|   Petrol|        Automatic|  18.15|   998|   118.35|    5|      1050000|
| 12|        Maruti Swift|       Maruti|      Swift|          4|    28321|     Dealer|   Petrol|           Manual|   16.6|  1197|     85.0|    5|       511000|
| 14|       Hyundai Verna|      Hyundai|      Verna|          8|    65278|     Dealer|   Diesel|           Manual|  22.32|  1582|   126.32|    5|       425000|
| 15|      Renault Duster|      Renault|     Duster|          5|    50000| Individual|   Diesel|           Manual|  19.64|  1461|   108.45|    5|       750000|
| 16|         Mini Cooper|         Mini|     Cooper|          4|     6000|     Dealer|   Petrol|        Automatic|  14.41|  1998|   189.08|    5|      3250000|
| 17|         Maruti Ciaz|       Maruti|       Ciaz|          5|    76000|     Dealer|   Diesel|           Manual|  28.09|  1248|     88.5|    5|       650000|
| 18|        Maruti Swift|       Maruti|      Swift|          5|    20000| Individual|   Diesel|           Manual|   25.2|  1248|     74.0|    5|       627000|
| 19|Mercedes-Benz C-C...|Mercedes-Benz|    C-Class|          7|    65000|     Dealer|   Diesel|        Automatic|  19.27|  2143|    170.0|    5|      1425000|
| 20|        Maruti Swift|       Maruti|      Swift|          7|    62200|     Dealer|   Diesel|           Manual|   28.4|  1248|     74.0|    5|       425000|
| 21|       Toyota Innova|       Toyota|     Innova|          8|   110000| Individual|   Diesel|           Manual|  12.99|  2494|    100.6|    8|       605000|
| 22|       Maruti Baleno|       Maruti|     Baleno|          6|    20000| Individual|   Petrol|           Manual|   21.4|  1197|     83.1|    5|       600000|
| 23|  Maruti Swift Dzire|       Maruti|Swift Dzire|          5|    40000| Individual|   Petrol|           Manual|  20.85|  1197|    83.14|    5|       575000|
+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
only showing top 20 rows

In [10]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- car_name: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- vehicle_age: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- transmission_type: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- selling_price: integer (nullable = true)

In [16]:
df.describe().show()

+-------+-----------------+----------+-----+------------------+------------------+-----------------+----------------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+
|summary|              _c0|  car_name|brand|             model|       vehicle_age|        km_driven|     seller_type|fuel_type|transmission_type|           mileage|            engine|        max_power|            seats|    selling_price|
+-------+-----------------+----------+-----+------------------+------------------+-----------------+----------------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+
|  count|            15411|     15411|15411|             15411|             15411|            15411|           15411|    15411|            15411|             15411|             15411|            15411|            15411|            15411|
|   mean|9811.857699046135|      NULL| NULL|4.3476923076923075|6.0363376808772955|55616.48063071832|            NULL|     NULL|             NULL|19.701151125819095|1486.0577509571085|100.5882538446622|5.325481798715203|774971.1164103562|
| stddev|5643.418541882794|      NULL| NULL|1.4007391889297625| 3.013291461417931|51618.54842178997|            NULL|     NULL|             NULL| 4.171264603904163| 521.1066956281886|42.97297907656083|0.807628428967241|894128.3632627012|
|    min|                0|   Audi A4| Audi|                 3|                 0|              100|          Dealer|      CNG|        Automatic|               4.0|               793|             38.4|                0|            40000|
|    max|            19543|Volvo XC90|Volvo|           redi-GO|                29|          3800000|Trustmark Dealer|   Petrol|           Manual|             33.54|              6592|            626.0|                9|         39500000|
+-------+-----------------+----------+-----+------------------+------------------+-----------------+----------------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+