# Day-03

```
FUNCTION
Function is used for reueblity of code and provide a maner to execute a set of code in standard for 

```

```
Print always give us None type data
return give us always type of data which you are give it in function

```

In [102]:
def info():
    pass

In [103]:
def test():
    print("This is my very very first function")
test()

This is my very very first function

In [104]:
type(test)

function

In [105]:
def test1():
    return ("This is my very fust return ")
test1()

'This is my very fust return '

In [106]:
def test3():
    return "name",23,34.34,3+5j

In [107]:
test3()

('name', 23, 34.34, (3+5j))

In [108]:
type(test3())

tuple

In [109]:
a,b,c,d=test3()

In [110]:
print(a)
print(b)
print(c)
print(d)

name
23
34.34
(3+5j)

In [111]:
def test4():
    a=4-34
    return a

In [112]:
test4()

-30

In [113]:
def test5(a,b):
    b=a+b
    return b

In [114]:
print(test5(23,34))
print(test5("abh","df"))

57
abhdf

In [115]:
l=[1,2,3,4,["Abhi","Upadhyay"],[1,2,3,4,5,6]]

In [116]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>
<class 'list'>

In [117]:
l1=[]
l2=[]
def dtype(l):
    for i in range(len(l)):
        if type(l[i])==int:
            l1.append(l[i])
        else:
            l2.append(l[i])
    return f"{l1} is Int type "
    return f"{l2} is STRING type "

In [119]:
l=[1,2,3,4,5,"ABhishek"]
dtype(l)

'[1, 2, 3, 4, 5, 1, 2, 3, 4, 5] is Int type '

In [121]:
l1
l2

['ABhishek', 'ABhishek']

```
docstring:-

docstring is used for define the perpose of function that what did function actualy work

it is pass in """   """



```

In [122]:
def doc(name):
    "this is docstring"
    return name
doc("Abhishke")

'Abhishke'

```
*args

staric keywod (*)is used for this process
it is used for dynamic input from user   



```

In [123]:
def test11(*args):
    return args

In [125]:
test11(23,34,34,23,"assd")

(23, 34, 34, 23, 'assd')

In [126]:
type(test11)

function

In [127]:
def test13(*args,a):
    return args,a

In [128]:
test13(1,23,34,23,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

```
➡️➡️➡️
```

In [129]:

test13(1,2,4,34,34,a=34)

((1, 2, 4, 34, 34), 34)

In [130]:
def test14(c,d,a=12,b=10):
    return a,b,c,d

In [131]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [132]:
test14(3,2)

(12, 10, 3, 2)

In [134]:
test14(1,2,a=3424)

(3424, 10, 1, 2)

```
** kwargs

It is used when user want multiple data in dictionary form 

```

In [135]:
def test15(**kwargs):
    return kwargs

In [136]:
test15()

{}

In [137]:
type(test15())

dict

In [138]:
test15(a=[1,2,3,4,5],b=["Abhishek","Upadhyay"])

{'a': [1, 2, 3, 4, 5], 'b': ['Abhishek', 'Upadhyay']}

```
GENRATOR FUNCTION:-

THIS IS SPECIAL TYPE OF FUNCTION WHICH IS USED FOR REDUCE  MEMORY CONSUPTION PROCESS

IT GIVES OUTPUT IN A SINGLE TIME NOT ONE BY ONE WITHOUT HOLDING THE OUTPUT


```

```
yield:-

 yield is a special keyword which is used for help us to create genrator function
```

In [141]:
def test_fab(n):
    a,b=0,1
    for i in range(n):
        yield a 
        a,b=b,a+b

In [147]:
type(test_fab)

function

In [142]:
test_fab(14)

In [146]:
for i in test_fab(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [148]:
def test_fab(n):
    a,b=0,1
    while True:
        yield a 
        a,b=b,a+b

In [154]:
for i in range(10):
    print(next(test_fab(5)))

0
0
0
0
0
0
0
0
0
0

```
string object is not iterator BUT STRING IS ITERABLE
```

```
ONLY ITERABLE OBJECT IS CHANGED IN ITERATOR

INT IS NOT ITERATOR AND NOT ITERABLE

```

In [155]:
s1="ABhishek Upadhyay"
for i in s1:
    print(next(s1))

TypeError: 'str' object is not an iterator

In [160]:
s1="ABhishek Upadhyay"
n=len(s1)
s1=iter(s1)
for i in range(n):
    print(next(s1))

A
B
h
i
s
h
e
k

U
p
a
d
h
y
a
y

In [161]:
next(23)

TypeError: 'int' object is not an iterator

```
Lambda Function:-

lambda is a anominous type of function which is used for short type operation execution process

a=lambda a,b :a+b

one liner Function
```

In [162]:
a=lambda a,b:a+b

In [163]:
a(23,34)

57

In [164]:
type(a)

function

In [165]:
d=lambda a,b:a*b

In [166]:
d(23,34)

782

In [167]:
c_to_f=lambda c: (9/5)*c +32

In [168]:
c_to_f(25)

77.0

In [169]:
find_max=lambda a,b :a if a>b else b

In [170]:
find_max(12,13)

13

```
map ,filter ,reduce


```

```
map:-
 map is used to maping the some operation  with all objects

```

```
map(function, *iterable)
```

In [171]:
l=[1,2,3,4,5]
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [172]:
test(l)

[1, 4, 9, 16, 25]

In [174]:
l

[1, 2, 3, 4, 5]

In [175]:
def sqr(x):
    return x**2

In [177]:
list(map(sqr,l))

[1, 4, 9, 16, 25]

In [180]:
list(map(lambda x:x**2 ,l))

[1, 4, 9, 16, 25]

In [182]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

list(map(lambda a,b:a+b, l1,l2))

[7, 9, 11, 13, 15]

```
reduce:-


reduce(function,iterable)

It gives single entety
```

In [184]:
from functools import reduce

In [185]:
l=[10,20,30,40,50]

In [187]:
(reduce(lambda x,y:x+y ,l))

150

In [188]:
(reduce(lambda x,y,z:x+y+z ,l))

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [189]:
reduce(lambda x,y:x+y,[1])

1

In [191]:
reduce(lambda x,y: x if x>y else y,l)

50

```
filter:-

filter(function,iterable)
```

In [192]:
l=[1,2,3,4,5,6,7,8,9,10,11,12]

In [195]:
list(filter(lambda x :x%2==0,l))

[2, 4, 6, 8, 10, 12]