## Spark DataFrame :-

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('cardata').getOrCreate()

In [4]:
spark

In [5]:
df_spark=spark.read.csv(r'E:\DATA SCIENCE 101 DAYS CHALENGE\Notebooks\8-Spark\cardekho_dataset.csv')

In [6]:
df_spark.show()

+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
| _c0|                 _c1|          _c2|     _c3|        _c4|      _c5|        _c6|      _c7|              _c8|    _c9|  _c10|     _c11| _c12|         _c13|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|NULL|            car_name|        brand|   model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|
|   0|         Maruti Alto|       Maruti|    Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|
|   1|       Hyundai Grand|      Hyundai|   Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|       82|    5|       550000|
|   2|         Hyundai i20|      Hyundai|     i20|         11|    60000| Individual|   Petrol|           Manual|     17|  1197|       80|    5|       215000|
|   3|         Maruti Alto|       Maruti|    Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|
|   4|       Ford Ecosport|         Ford|Ecosport|          6|    30000|     Dealer|   Diesel|           Manual|  22.77|  1498|    98.59|    5|       570000|
|   5|      Maruti Wagon R|       Maruti| Wagon R|          8|    35000| Individual|   Petrol|           Manual|   18.9|   998|     67.1|    5|       350000|
|   6|         Hyundai i10|      Hyundai|     i10|          8|    40000|     Dealer|   Petrol|           Manual|  20.36|  1197|     78.9|    5|       315000|
|   7|      Maruti Wagon R|       Maruti| Wagon R|          3|    17512|     Dealer|   Petrol|           Manual|  20.51|   998|    67.04|    5|       410000|
|   8|       Hyundai Venue|      Hyundai|   Venue|          2|    20000| Individual|   Petrol|        Automatic|  18.15|   998|   118.35|    5|      1050000|
|  12|        Maruti Swift|       Maruti|   Swift|          4|    28321|     Dealer|   Petrol|           Manual|   16.6|  1197|       85|    5|       511000|
|  14|       Hyundai Verna|      Hyundai|   Verna|          8|    65278|     Dealer|   Diesel|           Manual|  22.32|  1582|   126.32|    5|       425000|
|  15|      Renault Duster|      Renault|  Duster|          5|    50000| Individual|   Diesel|           Manual|  19.64|  1461|   108.45|    5|       750000|
|  16|         Mini Cooper|         Mini|  Cooper|          4|     6000|     Dealer|   Petrol|        Automatic|  14.41|  1998|   189.08|    5|      3250000|
|  17|         Maruti Ciaz|       Maruti|    Ciaz|          5|    76000|     Dealer|   Diesel|           Manual|  28.09|  1248|     88.5|    5|       650000|
|  18|        Maruti Swift|       Maruti|   Swift|          5|    20000| Individual|   Diesel|           Manual|   25.2|  1248|       74|    5|       627000|
|  19|Mercedes-Benz C-C...|Mercedes-Benz| C-Class|          7|    65000|     Dealer|   Diesel|        Automatic|  19.27|  2143|      170|    5|      1425000|
|  20|        Maruti Swift|       Maruti|   Swift|          7|    62200|     Dealer|   Diesel|           Manual|   28.4|  1248|       74|    5|       425000|
|  21|       Toyota Innova|       Toyota|  Innova|          8|   110000| Individual|   Diesel|           Manual|  12.99|  2494|    100.6|    8|       605000|
|  22|       Maruti Baleno|       Maruti|  Baleno|          6|    20000| Individual|   Petrol|           Manual|   21.4|  1197|     83.1|    5|       600000|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
only showing top 20 rows

In [7]:
df_spark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)

In [8]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [9]:
# df_spark.select(['car_name','brand']).show()

In [10]:
df_spark.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string'),
 ('_c12', 'string'),
 ('_c13', 'string')]

In [11]:
df_spark.describe().show()

+-------+-----------------+--------+-----+------------------+------------------+-----------------+-----------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+
|summary|              _c0|     _c1|  _c2|               _c3|               _c4|              _c5|        _c6|      _c7|              _c8|               _c9|              _c10|             _c11|             _c12|             _c13|
+-------+-----------------+--------+-----+------------------+------------------+-----------------+-----------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+
|  count|            15411|   15412|15412|             15412|             15412|            15412|      15412|    15412|            15412|             15412|             15412|            15412|            15412|            15412|
|   mean|9811.857699046135|    NULL| NULL|4.3476923076923075|6.0363376808772955|55616.48063071832|       NULL|     NULL|             NULL|19.701151125819095|1486.0577509571085|100.5882538446622|5.325481798715203|774971.1164103562|
| stddev|5643.418541882794|    NULL| NULL|1.4007391889297625| 3.013291461417931|51618.54842178997|       NULL|     NULL|             NULL| 4.171264603904163| 521.1066956281886|42.97297907656083|0.807628428967241|894128.3632627012|
|    min|                0| Audi A4| Audi|                 3|                 0|              100|     Dealer|      CNG|        Automatic|                10|              1047|              100|                0|           100000|
|    max|             9999|car_name|brand|           redi-GO|       vehicle_age|        km_driven|seller_type|fuel_type|transmission_type|           mileage|            engine|        max_power|            seats|    selling_price|
+-------+-----------------+--------+-----+------------------+------------------+-----------------+-----------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+

In [12]:
df_spark.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13']

In [13]:
df_spark.withColumnRenamed('brand','Brand').show()

+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
| _c0|                 _c1|          _c2|     _c3|        _c4|      _c5|        _c6|      _c7|              _c8|    _c9|  _c10|     _c11| _c12|         _c13|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|NULL|            car_name|        brand|   model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|
|   0|         Maruti Alto|       Maruti|    Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|
|   1|       Hyundai Grand|      Hyundai|   Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|       82|    5|       550000|
|   2|         Hyundai i20|      Hyundai|     i20|         11|    60000| Individual|   Petrol|           Manual|     17|  1197|       80|    5|       215000|
|   3|         Maruti Alto|       Maruti|    Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|
|   4|       Ford Ecosport|         Ford|Ecosport|          6|    30000|     Dealer|   Diesel|           Manual|  22.77|  1498|    98.59|    5|       570000|
|   5|      Maruti Wagon R|       Maruti| Wagon R|          8|    35000| Individual|   Petrol|           Manual|   18.9|   998|     67.1|    5|       350000|
|   6|         Hyundai i10|      Hyundai|     i10|          8|    40000|     Dealer|   Petrol|           Manual|  20.36|  1197|     78.9|    5|       315000|
|   7|      Maruti Wagon R|       Maruti| Wagon R|          3|    17512|     Dealer|   Petrol|           Manual|  20.51|   998|    67.04|    5|       410000|
|   8|       Hyundai Venue|      Hyundai|   Venue|          2|    20000| Individual|   Petrol|        Automatic|  18.15|   998|   118.35|    5|      1050000|
|  12|        Maruti Swift|       Maruti|   Swift|          4|    28321|     Dealer|   Petrol|           Manual|   16.6|  1197|       85|    5|       511000|
|  14|       Hyundai Verna|      Hyundai|   Verna|          8|    65278|     Dealer|   Diesel|           Manual|  22.32|  1582|   126.32|    5|       425000|
|  15|      Renault Duster|      Renault|  Duster|          5|    50000| Individual|   Diesel|           Manual|  19.64|  1461|   108.45|    5|       750000|
|  16|         Mini Cooper|         Mini|  Cooper|          4|     6000|     Dealer|   Petrol|        Automatic|  14.41|  1998|   189.08|    5|      3250000|
|  17|         Maruti Ciaz|       Maruti|    Ciaz|          5|    76000|     Dealer|   Diesel|           Manual|  28.09|  1248|     88.5|    5|       650000|
|  18|        Maruti Swift|       Maruti|   Swift|          5|    20000| Individual|   Diesel|           Manual|   25.2|  1248|       74|    5|       627000|
|  19|Mercedes-Benz C-C...|Mercedes-Benz| C-Class|          7|    65000|     Dealer|   Diesel|        Automatic|  19.27|  2143|      170|    5|      1425000|
|  20|        Maruti Swift|       Maruti|   Swift|          7|    62200|     Dealer|   Diesel|           Manual|   28.4|  1248|       74|    5|       425000|
|  21|       Toyota Innova|       Toyota|  Innova|          8|   110000| Individual|   Diesel|           Manual|  12.99|  2494|    100.6|    8|       605000|
|  22|       Maruti Baleno|       Maruti|  Baleno|          6|    20000| Individual|   Petrol|           Manual|   21.4|  1197|     83.1|    5|       600000|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
only showing top 20 rows

In [1]:
import pyspark

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('car-dekho').getOrCreate()

In [8]:
spark

In [9]:
df_spark=spark.read.csv(r'E:\DATA SCIENCE 101 DAYS CHALENGE\Notebooks\8-Spark\cardekho_dataset.csv')

In [11]:
df_spark.show()

+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
| _c0|                 _c1|          _c2|     _c3|        _c4|      _c5|        _c6|      _c7|              _c8|    _c9|  _c10|     _c11| _c12|         _c13|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|NULL|            car_name|        brand|   model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|
|   0|         Maruti Alto|       Maruti|    Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|
|   1|       Hyundai Grand|      Hyundai|   Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|       82|    5|       550000|
|   2|         Hyundai i20|      Hyundai|     i20|         11|    60000| Individual|   Petrol|           Manual|     17|  1197|       80|    5|       215000|
|   3|         Maruti Alto|       Maruti|    Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|
|   4|       Ford Ecosport|         Ford|Ecosport|          6|    30000|     Dealer|   Diesel|           Manual|  22.77|  1498|    98.59|    5|       570000|
|   5|      Maruti Wagon R|       Maruti| Wagon R|          8|    35000| Individual|   Petrol|           Manual|   18.9|   998|     67.1|    5|       350000|
|   6|         Hyundai i10|      Hyundai|     i10|          8|    40000|     Dealer|   Petrol|           Manual|  20.36|  1197|     78.9|    5|       315000|
|   7|      Maruti Wagon R|       Maruti| Wagon R|          3|    17512|     Dealer|   Petrol|           Manual|  20.51|   998|    67.04|    5|       410000|
|   8|       Hyundai Venue|      Hyundai|   Venue|          2|    20000| Individual|   Petrol|        Automatic|  18.15|   998|   118.35|    5|      1050000|
|  12|        Maruti Swift|       Maruti|   Swift|          4|    28321|     Dealer|   Petrol|           Manual|   16.6|  1197|       85|    5|       511000|
|  14|       Hyundai Verna|      Hyundai|   Verna|          8|    65278|     Dealer|   Diesel|           Manual|  22.32|  1582|   126.32|    5|       425000|
|  15|      Renault Duster|      Renault|  Duster|          5|    50000| Individual|   Diesel|           Manual|  19.64|  1461|   108.45|    5|       750000|
|  16|         Mini Cooper|         Mini|  Cooper|          4|     6000|     Dealer|   Petrol|        Automatic|  14.41|  1998|   189.08|    5|      3250000|
|  17|         Maruti Ciaz|       Maruti|    Ciaz|          5|    76000|     Dealer|   Diesel|           Manual|  28.09|  1248|     88.5|    5|       650000|
|  18|        Maruti Swift|       Maruti|   Swift|          5|    20000| Individual|   Diesel|           Manual|   25.2|  1248|       74|    5|       627000|
|  19|Mercedes-Benz C-C...|Mercedes-Benz| C-Class|          7|    65000|     Dealer|   Diesel|        Automatic|  19.27|  2143|      170|    5|      1425000|
|  20|        Maruti Swift|       Maruti|   Swift|          7|    62200|     Dealer|   Diesel|           Manual|   28.4|  1248|       74|    5|       425000|
|  21|       Toyota Innova|       Toyota|  Innova|          8|   110000| Individual|   Diesel|           Manual|  12.99|  2494|    100.6|    8|       605000|
|  22|       Maruti Baleno|       Maruti|  Baleno|          6|    20000| Individual|   Petrol|           Manual|   21.4|  1197|     83.1|    5|       600000|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
only showing top 20 rows

In [24]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string]

In [16]:
df_spark.describe().show()

+-------+-----------------+--------+-----+------------------+------------------+-----------------+-----------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+
|summary|              _c0|     _c1|  _c2|               _c3|               _c4|              _c5|        _c6|      _c7|              _c8|               _c9|              _c10|             _c11|             _c12|             _c13|
+-------+-----------------+--------+-----+------------------+------------------+-----------------+-----------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+
|  count|            15411|   15412|15412|             15412|             15412|            15412|      15412|    15412|            15412|             15412|             15412|            15412|            15412|            15412|
|   mean|9811.857699046135|    NULL| NULL|4.3476923076923075|6.0363376808772955|55616.48063071832|       NULL|     NULL|             NULL|19.701151125819095|1486.0577509571085|100.5882538446622|5.325481798715203|774971.1164103562|
| stddev|5643.418541882794|    NULL| NULL|1.4007391889297625| 3.013291461417931|51618.54842178997|       NULL|     NULL|             NULL| 4.171264603904163| 521.1066956281886|42.97297907656083|0.807628428967241|894128.3632627012|
|    min|                0| Audi A4| Audi|                 3|                 0|              100|     Dealer|      CNG|        Automatic|                10|              1047|              100|                0|           100000|
|    max|             9999|car_name|brand|           redi-GO|       vehicle_age|        km_driven|seller_type|fuel_type|transmission_type|           mileage|            engine|        max_power|            seats|    selling_price|
+-------+-----------------+--------+-----+------------------+------------------+-----------------+-----------+---------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+