In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('crew_requirement').getOrCreate()

In [ ]:
df = spark.read.csv('/content/cruise_ship_info.csv', inferSchema = True, header = True)

In [ ]:
df.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

In [ ]:
from pyspark.ml.feature import StringIndexer

indexer = StringIndexer(inputCol = 'Cruise_line', outputCol = "Cruise_line_index")

df_indexed = indexer.fit(df).transform(df)

In [ ]:
df_indexed.show(10)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_line_index|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|              1.0|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|              1.0|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|              1.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|              1.0|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|              1.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+
only showing top 10 rows

In [ ]:
df_indexed.select('Cruise_line', 'Cruise_line_index').distinct().show()

+-----------------+-----------------+
|      Cruise_line|Cruise_line_index|
+-----------------+-----------------+
|            Costa|              5.0|
|        Norwegian|              4.0|
|              MSC|              7.0|
|           Orient|             19.0|
|Regent_Seven_Seas|             10.0|
|           Disney|             18.0|
|         Windstar|             15.0|
|              P&O|              8.0|
|  Royal_Caribbean|              0.0|
|         Seabourn|             14.0|
|             Star|              9.0|
|         Princess|              2.0|
|          Oceania|             13.0|
|          Azamara|             16.0|
| Holland_American|              3.0|
|           Cunard|             12.0|
|        Celebrity|              6.0|
|        Silversea|             11.0|
|          Crystal|             17.0|
|         Carnival|              1.0|
+-----------------+-----------------+

In [ ]:
df_indexed.groupby("Cruise_line").count().show()

+-----------------+-----+
|      Cruise_line|count|
+-----------------+-----+
|            Costa|   11|
|              P&O|    6|
|           Cunard|    3|
|Regent_Seven_Seas|    5|
|              MSC|    8|
|         Carnival|   22|
|          Crystal|    2|
|           Orient|    1|
|         Princess|   17|
|        Silversea|    4|
|         Seabourn|    3|
| Holland_American|   14|
|         Windstar|    3|
|           Disney|    2|
|        Norwegian|   13|
|          Oceania|    3|
|          Azamara|    2|
|        Celebrity|   10|
|             Star|    6|
|  Royal_Caribbean|   23|
+-----------------+-----+

In [ ]:
df_indexed.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew',
 'Cruise_line_index']

In [ ]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols = ['Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'Cruise_line_index'], outputCol = 'features')

output = assembler.transform(df_indexed)

In [ ]:
output.show()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|Cruise_line_index|            features|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|[6.0,30.276999999...|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|             16.0|[6.0,30.276999999...|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|              1.0|[26.0,47.262,14.8...|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|              1.0|[11.0,110.0,29.74...|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|              1.0|[17.0,101.353,26....|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[22.0,70.367,20.5...|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[15.0,70.367,20.5...|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|              1.0|[23.0,70.367,20.5...|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[19.0,70.367,20.5...|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|              1.0|[6.0,110.23899999...|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|              1.0|[10.0,110.0,29.74...|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|              1.0|[28.0,46.052,14.5...|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[18.0,70.367,20.5...|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[17.0,70.367,20.5...|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|              1.0|[11.0,86.0,21.24,...|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|              1.0|[8.0,110.0,29.74,...|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|              1.0|[9.0,88.5,21.24,9...|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[15.0,70.367,20.5...|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|              1.0|[12.0,88.5,21.24,...|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|              1.0|[20.0,70.367,20.5...|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+-----------------+--------------------+
only showing top 20 rows

In [ ]:
train_data , test_data = output.randomSplit([.8,.2])
train_data.describe().show()

+-------+---------+-----------+-----------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+
|summary|Ship_name|Cruise_line|              Age|          Tonnage|        passengers|            length|           cabins|passenger_density|             crew|Cruise_line_index|
+-------+---------+-----------+-----------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+
|  count|      125|        125|              125|              125|               125|               125|              125|              125|              125|              125|
|   mean|     NULL|       NULL|           16.024|71.55742400000001|18.649600000000007| 8.135919999999997|8.913360000000004|         39.62568|7.772080000000005|             5.04|
| stddev|     NULL|       NULL|8.028642274643552|38.48742195882334|10.047567704384653|1.8111180364447494|4.614264339366393| 8.71071969694294|3.467392414313486|4.696257947523477|
|    min|Adventure|   Carnival|                4|            2.329|              0.66|              2.79|             0.33|             17.7|             0.59|              0.0|
|    max|Zuiderdam|   Windstar|               48|            220.0|              54.0|             11.82|             27.0|            71.43|             21.0|             19.0|
+-------+---------+-----------+-----------------+-----------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+

In [ ]:
from pyspark.ml.regression import LinearRegression
crew_req = LinearRegression(featuresCol= 'features', labelCol = 'crew')

model = crew_req.fit(train_data)

In [ ]:
result = model.evaluate(train_data)

In [ ]:
result.r2

0.9498470837158337

In [ ]:
pred = model.transform(test_data)

In [ ]:
result_test = model.evaluate(test_data)

In [ ]:
result_test.r2

0.8410521293456138

In [ ]:
pred.show()

+------------+-----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+--------------------+------------------+
|   Ship_name|      Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density| crew|Cruise_line_index|            features|        prediction|
+------------+-----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+--------------------+------------------+
|   Caribbean|         Princess|  9|             116.0|      26.0|  9.51|  13.0|            44.62| 11.0|              2.0|[9.0,116.0,26.0,9...| 10.93086351574195|
|    Conquest|         Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99| 19.1|              1.0|[11.0,110.0,29.74...| 11.81333995623822|
|        Dawn|        Norwegian| 11|              90.0|      22.4|  9.65|  11.2|            40.18| 11.0|              4.0|[11.0,90.0,22.4,9...| 9.946650129430145|
|        Dawn|         Princess| 16|            77.499|      19.5|  8.56|  10.5|            39.74|  9.0|              2.0|[16.0,77.499,19.5...| 8.923438251353462|
|     Destiny|         Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36| 10.0|              1.0|[17.0,101.353,26....|10.472582880519225|
|     Diamond|         Princess|  9|             113.0|     26.74|  9.51| 13.37|            42.26|12.38|              2.0|[9.0,113.0,26.74,...|11.109891832199956|
|       Dream|        Norwegian| 21|             50.76|     17.48|  7.54|  8.74|            29.04| 6.14|              4.0|[21.0,50.76,17.48...| 7.224762347820102|
|     Ecstasy|         Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              1.0|[22.0,70.367,20.5...|  8.37974355395482|
|     Elation|         Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29|  9.2|              1.0|[15.0,70.367,20.5...| 8.492177336578804|
|  ExplorerII|Regent_Seven_Seas| 27|              12.5|      3.94|  4.36|  0.88|            31.73| 1.46|             10.0|[27.0,12.5,3.94,4...|1.3200862705281649|
|    Infinity|        Celebrity| 12|              91.0|     20.32|  9.65|  9.75|            44.78| 9.99|              6.0|[12.0,91.0,20.32,...| 9.192554118426823|
|     Journey|          Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64| 3.55|             16.0|[6.0,30.276999999...| 4.545910739754975|
|      Legend|  Royal_Caribbean| 18|              70.0|      18.0|  8.67|   9.0|            38.89|  7.2|              0.0|[18.0,70.0,18.0,8...| 7.793765921316849|
|     Majesty|        Norwegian| 21|              38.0|     10.56|  5.67|  5.28|            35.98| 4.38|              4.0|[21.0,38.0,10.56,...| 4.389031078119109|
|Mediterranea|            Costa| 10|              86.0|     21.14|   9.6| 10.56|            40.68|  9.2|              5.0|[10.0,86.0,21.14,...| 9.629562051504939|
|   Millenium|        Celebrity| 13|              91.0|     20.32|  9.65|  9.75|            44.78| 9.99|              6.0|[13.0,91.0,20.32,...|  9.17649214948054|
|     Miracle|         Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67| 10.3|              1.0|[9.0,88.5,21.24,9...| 9.449302126564739|
|     Pacific|         Princess| 14|30.276999999999997|      6.86|  5.93|  3.44|            44.14| 3.73|              2.0|[14.0,30.27699999...| 3.416573527602293|
| PaulGauguin|Regent_Seven_Seas| 16|              19.2|       3.2|  5.13|   1.6|             60.0| 2.11|             10.0|[16.0,19.2,3.2,5....|2.3694469260788207|
|      Pisces|             Star| 24|40.053000000000004|     12.87|  5.79|  7.76|            31.12|  7.5|              9.0|[24.0,40.05300000...| 6.370858867341727|
+------------+-----------------+---+------------------+----------+------+------+-----------------+-----+-----------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /usr/local/lib/python3.10/dist-packages (0.0.3)

In [ ]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
adult = fetch_ucirepo(id=2)

# data (as pandas dataframes)
X = adult.data.features
y = adult.data.targets

# metadata
print(adult.metadata)

# variable information
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Mon Aug 07 2023', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': 'Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\r\n\r\nPrediction task is to determine whether a person makes over 50K a year.\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [ ]:
X.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [ ]:
data = spark.read.csv('/content/adult.data')
data.show()

+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
|_c0|              _c1|    _c2|          _c3|_c4|                 _c5|               _c6|           _c7|                _c8|    _c9|  _c10|_c11|_c12|          _c13|  _c14|
+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
| 39|        State-gov|  77516|    Bachelors| 13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male|  2174|   0|  40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311|    Bachelors| 13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|     0|   0|  13| United-States| <=50K|
| 38|          Private| 215646|      HS-grad|  9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|     0|   0|  40| United-States| <=50K|
| 53|          Private| 234721|         11th|  7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|     0|   0|  40| United-States| <=50K|
| 28|          Private| 338409|    Bachelors| 13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|     0|   0|  40|          Cuba| <=50K|
| 37|          Private| 284582|      Masters| 14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|     0|   0|  40| United-States| <=50K|
| 49|          Private| 160187|          9th|  5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|     0|   0|  16|       Jamaica| <=50K|
| 52| Self-emp-not-inc| 209642|      HS-grad|  9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|     0|   0|  45| United-States|  >50K|
| 31|          Private|  45781|      Masters| 14|       Never-married|    Prof-specialty| Not-in-family|              White| Female| 14084|   0|  50| United-States|  >50K|
| 42|          Private| 159449|    Bachelors| 13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|  5178|   0|  40| United-States|  >50K|
| 37|          Private| 280464| Some-college| 10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|     0|   0|  80| United-States|  >50K|
| 30|        State-gov| 141297|    Bachelors| 13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|     0|   0|  40|         India|  >50K|
| 23|          Private| 122272|    Bachelors| 13|       Never-married|      Adm-clerical|     Own-child|              White| Female|     0|   0|  30| United-States| <=50K|
| 32|          Private| 205019|   Assoc-acdm| 12|       Never-married|             Sales| Not-in-family|              Black|   Male|     0|   0|  50| United-States| <=50K|
| 40|          Private| 121772|    Assoc-voc| 11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|     0|   0|  40|             ?|  >50K|
| 34|          Private| 245487|      7th-8th|  4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|     0|   0|  45|        Mexico| <=50K|
| 25| Self-emp-not-inc| 176756|      HS-grad|  9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|     0|   0|  35| United-States| <=50K|
| 32|          Private| 186824|      HS-grad|  9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|     0|   0|  40| United-States| <=50K|
| 38|          Private|  28887|         11th|  7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|     0|   0|  50| United-States| <=50K|
| 43| Self-emp-not-inc| 292175|      Masters| 14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|     0|   0|  45| United-States|  >50K|
+---+-----------------+-------+-------------+---+--------------------+------------------+--------------+-------------------+-------+------+----+----+--------------+------+
only showing top 20 rows

In [ ]:
labels = ['age', 'workclass', 'fnlwgt', 'education', 'numbers', 'marital', 'occupation', 'relation', 'race', 'gender', 'gain', 'loss', 'hourlypay', 'country', 'income']

In [ ]:
df = data.toDF(*labels)

In [ ]:
df.show(5)

+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
|age|        workclass| fnlwgt| education|numbers|            marital|        occupation|      relation|  race| gender| gain|loss|hourlypay|       country|income|
+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
| 39|        State-gov|  77516| Bachelors|     13|      Never-married|      Adm-clerical| Not-in-family| White|   Male| 2174|   0|       40| United-States| <=50K|
| 50| Self-emp-not-inc|  83311| Bachelors|     13| Married-civ-spouse|   Exec-managerial|       Husband| White|   Male|    0|   0|       13| United-States| <=50K|
| 38|          Private| 215646|   HS-grad|      9|           Divorced| Handlers-cleaners| Not-in-family| White|   Male|    0|   0|       40| United-States| <=50K|
| 53|          Private| 234721|      11th|      7| Married-civ-spouse| Handlers-cleaners|       Husband| Black|   Male|    0|   0|       40| United-States| <=50K|
| 28|          Private| 338409| Bachelors|     13| Married-civ-spouse|    Prof-specialty|          Wife| Black| Female|    0|   0|       40|          Cuba| <=50K|
+---+-----------------+-------+----------+-------+-------------------+------------------+--------------+------+-------+-----+----+---------+--------------+------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: string (nullable = true)
 |-- loss: string (nullable = true)
 |-- hourlypay: string (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [ ]:
from pyspark.sql.functions import col
new_df = df.withColumn('age' , col('age').cast('integer'))

In [ ]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: string (nullable = true)
 |-- education: string (nullable = true)
 |-- numbers: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relation: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- gain: string (nullable = true)
 |-- loss: string (nullable = true)
 |-- hourlypay: string (nullable = true)
 |-- country: string (nullable = true)
 |-- income: string (nullable = true)

In [ ]:

for i in [ 'fnlwgt' , 'numbers', 'gain', 'loss', 'hourlypay']:
  new_df = new_df.withColumn(i , col(i).cast('integer'))

In [ ]:
from pyspark.sql.functions import *

new_df.select([count(when(col(c).isNull(), c )).alias(c) for c in new_df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [ ]:
df.select('workclass').distinct().show()

+-----------------+
|        workclass|
+-----------------+
|        State-gov|
|      Federal-gov|
| Self-emp-not-inc|
|        Local-gov|
|          Private|
|                ?|
|     Self-emp-inc|
|      Without-pay|
|     Never-worked|
+-----------------+

In [ ]:
df = new_df.replace(" ?" , None)

In [ ]:
from pyspark.sql.functions import *

df.select([count(when(col(c).isNull(), c )).alias(c) for c in df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|     1836|     0|        0|      0|      0|      1843|       0|   0|     0|   0|   0|        0|    583|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [ ]:
df.groupby('occupation').count().show()

+------------------+-----+
|        occupation|count|
+------------------+-----+
|   Farming-fishing|  994|
|              NULL| 1843|
| Handlers-cleaners| 1370|
|    Prof-specialty| 4140|
|      Adm-clerical| 3770|
|   Exec-managerial| 4066|
|      Craft-repair| 4099|
|             Sales| 3650|
|      Tech-support|  928|
|  Transport-moving| 1597|
|   Protective-serv|  649|
|      Armed-Forces|    9|
| Machine-op-inspct| 2002|
|     Other-service| 3295|
|   Priv-house-serv|  149|
+------------------+-----+

In [ ]:
df = df.fillna(" United-States", subset = ['country'])

In [ ]:
df = df.fillna(" Private", subset = ['workclass'])

In [ ]:
df = df.fillna(" Prof-specialty", subset = ['occupation'])

In [ ]:
df.select([count(when(col(c).isNull(), c )).alias(c) for c in df.columns]).show()

+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|age|workclass|fnlwgt|education|numbers|marital|occupation|relation|race|gender|gain|loss|hourlypay|country|income|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+
|  0|        0|     0|        0|      0|      0|         0|       0|   0|     0|   0|   0|        0|      0|     0|
+---+---------+------+---------+-------+-------+----------+--------+----+------+----+----+---------+-------+------+

In [ ]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer , VectorAssembler

In [ ]:
df.columns

['age',
 'workclass',
 'fnlwgt',
 'education',
 'numbers',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'gain',
 'loss',
 'hourlypay',
 'country',
 'income']

In [ ]:
categorical_cols = [ 'workclass',
 'education',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'country']
numeric_cols = [ 'age' ,'fnlwgt' , 'numbers', 'gain', 'loss', 'hourlypay']
label = 'income'

In [ ]:
indexer = [StringIndexer(inputCol = c , outputCol = f"{c}_index", handleInvalid = 'keep') for c in categorical_cols]

In [ ]:
label_indexer = StringIndexer(inputCol = 'income', outputCol = 'label', handleInvalid = 'keep')

In [ ]:
assembler = VectorAssembler(inputCols = [f'{c}_index' for c in categorical_cols] + numeric_cols, outputCol = 'features')

In [ ]:
lr = LogisticRegression(featuresCol = 'features', labelCol = 'label')

In [ ]:
pipeline = Pipeline(stages = indexer + [assembler , label_indexer , lr] )

In [ ]:
train_data , test_data = df.randomSplit([.8, .2])

In [ ]:
model = pipeline.fit(train_data)

In [ ]:
prediction = model.transform(test_data)

In [ ]:
prediction.select('label', 'prediction').show()

+-----+----------+
|label|prediction|
+-----+----------+
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
+-----+----------+
only showing top 20 rows

In [ ]:
prediction.groupby('label', 'prediction').count().show()

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|  1.0|       1.0|  807|
|  0.0|       1.0|  313|
|  1.0|       0.0|  744|
|  0.0|       0.0| 4716|
+-----+----------+-----+

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(predictionCol = 'prediction', labelCol = 'label', metricName = 'accuracy')

In [ ]:
evaluator.evaluate(prediction)

0.8393617021276596

In [ ]:
df.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40| United-States|  >50K|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
only showing top 20 rows

In [ ]:
categorical_cols = [ 'workclass',
 'education',
 'marital',
 'occupation',
 'relation',
 'race',
 'gender',
 'country']
numeric_cols = [ 'age' ,'fnlwgt' , 'numbers', 'gain', 'loss', 'hourlypay']
label = 'income'

In [ ]:
def indexer(df, col):
  indexer = StringIndexer(inputCol = col , outputCol = f'{col}_index', handleInvalid = 'keep')
  indexed = indexer.fit(df).transform(df)
  return indexed

In [ ]:
indexer(df, 'workclass').show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|workclass_index|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|            3.0|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|            1.0|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|            0.0|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|            0.0|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|            0.0|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|            0.0|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|            1.0|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|            0.0|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|            0.0|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|            0.0|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|            3.0|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|            0.0|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|            0.0|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40| United-States|  >50K|            0.0|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|            0.0|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|            1.0|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|            0.0|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|            1.0|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+
only showing top 20 rows

In [ ]:
df.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40| United-States|  >50K|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
only showing top 20 rows

In [ ]:
for col in categorical_cols:
  index_df = indexer(new_df, col)
  new_df = index_df

IllegalArgumentException: requirement failed: Output column workclass_index already exists.

In [ ]:
new_df.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|workclass_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|income_index|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|            4.0|            2.0|          1.0|             3.0|           1.0|       0.0|         0.0|          0.0|         0.0|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|            1.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         0.0|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|            0.0|          2.0|             9.0|           1.0|       0.0|         0.0|          0.0|         0.0|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|            0.0|            5.0|          0.0|             9.0|           0.0|       1.0|         0.0|          0.0|         0.0|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|            0.0|            2.0|          0.0|             0.0|           4.0|       1.0|         1.0|          9.0|         0.0|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|            0.0|            3.0|          0.0|             2.0|           4.0|       0.0|         1.0|          0.0|         0.0|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|            0.0|           10.0|          5.0|             5.0|           1.0|       1.0|         1.0|         11.0|         0.0|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|            1.0|            0.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|            0.0|            3.0|          1.0|             0.0|           1.0|       0.0|         1.0|          0.0|         1.0|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|            0.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|            0.0|            1.0|          0.0|             2.0|           0.0|       1.0|         0.0|          0.0|         1.0|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|            4.0|            2.0|          0.0|             0.0|           0.0|       2.0|         0.0|          8.0|         1.0|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|            0.0|            2.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|         0.0|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|            0.0|            6.0|          1.0|             4.0|           1.0|       1.0|         0.0|          0.0|         0.0|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|             ?|  >50K|            0.0|            4.0|          0.0|             1.0|           0.0|       2.0|         0.0|          2.0|         1.0|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|            0.0|            8.0|          0.0|             8.0|           0.0|       3.0|         0.0|          1.0|         0.0|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|            1.0|            0.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|         0.0|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|            0.0|          1.0|             6.0|           3.0|       0.0|         0.0|          0.0|         0.0|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|            0.0|            5.0|          0.0|             4.0|           0.0|       0.0|         0.0|          0.0|         0.0|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|            1.0|            3.0|          2.0|             2.0|           3.0|       0.0|         1.0|          0.0|         1.0|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.stat import Correlation

In [ ]:
assembler = VectorAssembler(inputCols = [f'{c}_index' for c in categorical_cols] + numeric_cols, outputCol = 'features')

In [ ]:
vector = assembler.transform(new_df)

In [ ]:
vector.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|workclass_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|income_index|            features|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|            4.0|            2.0|          1.0|             3.0|           1.0|       0.0|         0.0|          0.0|         0.0|[4.0,2.0,1.0,3.0,...|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|            1.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         0.0|(14,[0,1,3,8,9,10...|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|            0.0|          2.0|             9.0|           1.0|       0.0|         0.0|          0.0|         0.0|(14,[2,3,4,8,9,10...|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|            0.0|            5.0|          0.0|             9.0|           0.0|       1.0|         0.0|          0.0|         0.0|(14,[1,3,5,8,9,10...|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|            0.0|            2.0|          0.0|             0.0|           4.0|       1.0|         1.0|          9.0|         0.0|[0.0,2.0,0.0,0.0,...|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|            0.0|            3.0|          0.0|             2.0|           4.0|       0.0|         1.0|          0.0|         0.0|(14,[1,3,4,6,8,9,...|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|            0.0|           10.0|          5.0|             5.0|           1.0|       1.0|         1.0|         11.0|         0.0|[0.0,10.0,5.0,5.0...|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|            1.0|            0.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|(14,[0,3,8,9,10,1...|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|            0.0|            3.0|          1.0|             0.0|           1.0|       0.0|         1.0|          0.0|         1.0|[0.0,3.0,1.0,0.0,...|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|            0.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|(14,[1,3,8,9,10,1...|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|            0.0|            1.0|          0.0|             2.0|           0.0|       1.0|         0.0|          0.0|         1.0|(14,[1,3,5,8,9,10...|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|            4.0|            2.0|          0.0|             0.0|           0.0|       2.0|         0.0|          8.0|         1.0|(14,[0,1,5,7,8,9,...|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|            0.0|            2.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|         0.0|[0.0,2.0,1.0,3.0,...|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|            0.0|            6.0|          1.0|             4.0|           1.0|       1.0|         0.0|          0.0|         0.0|[0.0,6.0,1.0,4.0,...|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|             ?|  >50K|            0.0|            4.0|          0.0|             1.0|           0.0|       2.0|         0.0|          2.0|         1.0|(14,[1,3,5,7,8,9,...|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|            0.0|            8.0|          0.0|             8.0|           0.0|       3.0|         0.0|          1.0|         0.0|(14,[1,3,5,7,8,9,...|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|            1.0|            0.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|         0.0|(14,[0,2,3,4,8,9,...|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|            0.0|          1.0|             6.0|           3.0|       0.0|         0.0|          0.0|         0.0|(14,[2,3,4,8,9,10...|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|            0.0|            5.0|          0.0|             4.0|           0.0|       0.0|         0.0|          0.0|         0.0|(14,[1,3,8,9,10,1...|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|            1.0|            3.0|          2.0|             2.0|           3.0|       0.0|         1.0|          0.0|         1.0|[1.0,3.0,2.0,2.0,...|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
only showing top 20 rows

In [ ]:
col = [f'{c}_index' for c in categorical_cols] + numeric_cols

In [ ]:
r1 =Correlation.corr(vector, 'features').head()

In [ ]:
print("Pearson correlation matrix:\n" + str(r1[0]))

Pearson correlation matrix:
DenseMatrix([[ 1.00000000e+00,  2.50587933e-02, -2.09477645e-02,
               4.22182173e-03, -4.52925664e-02,  1.89958265e-02,
              -1.64130127e-02, -2.13924109e-02,  1.02229290e-01,
               1.54389798e-01, -3.21605500e-02,  1.27681211e-01,
               4.18082447e-02,  2.39291045e-02,  1.36880859e-02],
             [ 2.50587933e-02,  1.00000000e+00, -5.43462520e-03,
              -1.64882302e-02, -1.40352218e-02,  3.20378119e-02,
              -4.02158184e-02,  8.29998874e-02,  4.24489521e-02,
               7.61125290e-02,  3.44838605e-02, -1.70081765e-01,
               5.92847625e-02,  2.19380216e-02, -7.92952053e-03],
             [-2.09477645e-02, -5.43462520e-03,  1.00000000e+00,
               4.46472295e-02,  4.11140727e-01,  6.89439876e-02,
               4.08301403e-01,  2.15264796e-02, -3.11287762e-01,
               3.05672475e-02,  5.44716467e-03, -1.04875923e-01,
              -5.77145430e-02, -5.33565354e-02, -1.46710908e-01],
             [ 4.22182173e-03, -1.64882302e-02,  4.46472295e-02,
               1.00000000e+00,  5.26551559e-02,  3.65779801e-02,
              -3.45841719e-02, -3.12960698e-04, -1.85636046e-01,
              -5.94372268e-02,  1.55878428e-02, -3.16549423e-01,
              -7.14539715e-02, -4.84307107e-02, -7.72239669e-02],
             [-4.52925664e-02, -1.40352218e-02,  4.11140727e-01,
               5.26551559e-02,  1.00000000e+00,  1.13958969e-01,
               5.53330155e-01,  4.87439679e-02, -2.54292097e-01,
              -2.35690407e-01,  1.81624688e-02, -1.10255651e-01,
              -5.75767690e-02, -5.83702565e-02, -2.27606671e-01],
             [ 1.89958265e-02,  3.20378119e-02,  6.89439876e-02,
               3.65779801e-02,  1.13958969e-01,  1.00000000e+00,
               6.78399222e-02,  2.17233824e-01, -6.77130720e-02,
              -3.99995728e-02,  4.99831748e-04, -3.97595119e-02,
              -7.99122568e-03, -1.71895897e-02, -3.31146865e-02],
             [-1.64130127e-02, -4.02158184e-02,  4.08301403e-01,
              -3.45841719e-02,  5.53330155e-01,  6.78399222e-02,
               1.00000000e+00,  1.20410998e-02, -2.15980151e-01,
              -8.88317312e-02, -2.68580453e-02, -1.22800543e-02,
              -4.84796469e-02, -4.55673547e-02, -2.29309149e-01],
             [-2.13924109e-02,  8.29998874e-02,  2.15264796e-02,
              -3.12960698e-04,  4.87439679e-02,  2.17233824e-01,
               1.20410998e-02,  1.00000000e+00, -1.85824005e-02,
               5.03409906e-05,  2.20450580e-02, -2.88340795e-02,
              -7.87461293e-03, -3.89271091e-03, -3.36369371e-03],
             [ 1.02229290e-01,  4.24489521e-02, -3.11287762e-01,
              -1.85636046e-01, -2.54292097e-01, -6.77130720e-02,
              -2.15980151e-01, -1.85824005e-02,  1.00000000e+00,
               2.34037103e-01, -9.46255725e-03,  3.35153953e-01,
               2.23328818e-01,  1.50526312e-01,  2.29689066e-01],
             [ 1.54389798e-01,  7.61125290e-02,  3.05672475e-02,
              -5.94372268e-02, -2.35690407e-01, -3.99995728e-02,
              -8.88317312e-02,  5.03409906e-05,  2.34037103e-01,
               1.00000000e+00, -7.66458679e-02,  3.65271895e-02,
               7.76744982e-02,  5.77745395e-02,  6.87557075e-02],
             [-3.21605500e-02,  3.44838605e-02,  5.44716467e-03,
               1.55878428e-02,  1.81624688e-02,  4.99831748e-04,
              -2.68580453e-02,  2.20450580e-02, -9.46255725e-03,
              -7.66458679e-02,  1.00000000e+00, -4.31946327e-02,
               4.31885792e-04, -1.02517117e-02, -1.87684906e-02],
             [ 1.27681211e-01, -1.70081765e-01, -1.04875923e-01,
              -3.16549423e-01, -1.10255651e-01, -3.97595119e-02,
              -1.22800543e-02, -2.88340795e-02,  3.35153953e-01,
               3.65271895e-02, -4.31946327e-02,  1.00000000e+00,
               1.22630115e-01,  7.99229567e-02,  1.48122733e-01],
             [ 4.18082447e-02,  5.92847625e-02, -5.77145430e-02,
              -7.14539715e-02, -5.75767690e-02, -7.99122568e-03,
              -4.84796469e-02, -7.87461293e-03,  2.23328818e-01,
               7.76744982e-02,  4.31885792e-04,  1.22630115e-01,
               1.00000000e+00, -3.16150630e-02,  7.84086154e-02],
             [ 2.39291045e-02,  2.19380216e-02, -5.33565354e-02,
              -4.84307107e-02, -5.83702565e-02, -1.71895897e-02,
              -4.55673547e-02, -3.89271091e-03,  1.50526312e-01,
               5.77745395e-02, -1.02517117e-02,  7.99229567e-02,
              -3.16150630e-02,  1.00000000e+00,  5.42563623e-02],
             [ 1.36880859e-02, -7.92952053e-03, -1.46710908e-01,
              -7.72239669e-02, -2.27606671e-01, -3.31146865e-02,
              -2.29309149e-01, -3.36369371e-03,  2.29689066e-01,
               6.87557075e-02, -1.87684906e-02,  1.48122733e-01,
               7.84086154e-02,  5.42563623e-02,  1.00000000e+00]])

In [ ]:
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
nb = NaiveBayes(featuresCol = 'features' , labelCol = 'label', smoothing=1.0, modelType="multinomial")

In [ ]:
splits = data.randomSplit([0.6, 0.4], 1234)
train = splits[0]
test = splits[1]

In [ ]:
data = data.select('features', 'label')

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `features` cannot be resolved. Did you mean one of the following? [`_c0`, `_c1`, `_c10`, `_c11`, `_c12`].;
'Project ['features, 'label]
+- Relation [_c0#6193,_c1#6194,_c2#6195,_c3#6196,_c4#6197,_c5#6198,_c6#6199,_c7#6200,_c8#6201,_c9#6202,_c10#6203,_c11#6204,_c12#6205,_c13#6206,_c14#6207] csv

In [ ]:
label = StringIndexer(inputCol = 'income', outputCol = 'label', handleInvalid = 'keep')

In [ ]:
data = label.fit(data).transform(data)

In [ ]:
data.show()

In [ ]:
model = nb.fit(train)

In [ ]:
predictions = model.transform(test)
predictions.show()

In [ ]:
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

In [ ]:
from pyspark.ml.classification import *

In [ ]:
dt = pyspark.ml.classification.DecisionTreeClassifier(featuresCol = 'features' , labelCol = 'label',impurity= 'entropy',maxDepth= 8, maxBins = 45)

In [ ]:
model = dt.fit(train)

In [ ]:
predictions = model.transform(test)
predictions.show()

In [ ]:
evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

In [ ]:
vector.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|workclass_index|education_index|marital_index|occupation_index|relation_index|race_index|gender_index|country_index|income_index|            features|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|            4.0|            2.0|          1.0|             3.0|           1.0|       0.0|         0.0|          0.0|         0.0|[4.0,2.0,1.0,3.0,...|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|            1.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         0.0|(14,[0,1,3,8,9,10...|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|            0.0|          2.0|             9.0|           1.0|       0.0|         0.0|          0.0|         0.0|(14,[2,3,4,8,9,10...|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|            0.0|            5.0|          0.0|             9.0|           0.0|       1.0|         0.0|          0.0|         0.0|(14,[1,3,5,8,9,10...|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|            0.0|            2.0|          0.0|             0.0|           4.0|       1.0|         1.0|          9.0|         0.0|[0.0,2.0,0.0,0.0,...|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|            0.0|            3.0|          0.0|             2.0|           4.0|       0.0|         1.0|          0.0|         0.0|(14,[1,3,4,6,8,9,...|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|            0.0|           10.0|          5.0|             5.0|           1.0|       1.0|         1.0|         11.0|         0.0|[0.0,10.0,5.0,5.0...|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|            1.0|            0.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|(14,[0,3,8,9,10,1...|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|            0.0|            3.0|          1.0|             0.0|           1.0|       0.0|         1.0|          0.0|         1.0|[0.0,3.0,1.0,0.0,...|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|            0.0|            2.0|          0.0|             2.0|           0.0|       0.0|         0.0|          0.0|         1.0|(14,[1,3,8,9,10,1...|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|            0.0|            1.0|          0.0|             2.0|           0.0|       1.0|         0.0|          0.0|         1.0|(14,[1,3,5,8,9,10...|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|            4.0|            2.0|          0.0|             0.0|           0.0|       2.0|         0.0|          8.0|         1.0|(14,[0,1,5,7,8,9,...|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|            0.0|            2.0|          1.0|             3.0|           2.0|       0.0|         1.0|          0.0|         0.0|[0.0,2.0,1.0,3.0,...|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|            0.0|            6.0|          1.0|             4.0|           1.0|       1.0|         0.0|          0.0|         0.0|[0.0,6.0,1.0,4.0,...|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|             ?|  >50K|            0.0|            4.0|          0.0|             1.0|           0.0|       2.0|         0.0|          2.0|         1.0|(14,[1,3,5,7,8,9,...|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|            0.0|            8.0|          0.0|             8.0|           0.0|       3.0|         0.0|          1.0|         0.0|(14,[1,3,5,7,8,9,...|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|            1.0|            0.0|          1.0|            10.0|           2.0|       0.0|         0.0|          0.0|         0.0|(14,[0,2,3,4,8,9,...|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|            0.0|            0.0|          1.0|             6.0|           3.0|       0.0|         0.0|          0.0|         0.0|(14,[2,3,4,8,9,10...|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|            0.0|            5.0|          0.0|             4.0|           0.0|       0.0|         0.0|          0.0|         0.0|(14,[1,3,8,9,10,1...|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|            1.0|            3.0|          2.0|             2.0|           3.0|       0.0|         1.0|          0.0|         1.0|[1.0,3.0,2.0,2.0,...|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+---------------+---------------+-------------+----------------+--------------+----------+------------+-------------+------------+--------------------+
only showing top 20 rows

In [ ]:
data = vector.select('features','income_index')

In [ ]:
data.show()

+--------------------+------------+
|            features|income_index|
+--------------------+------------+
|[4.0,2.0,1.0,3.0,...|         0.0|
|(14,[0,1,3,8,9,10...|         0.0|
|(14,[2,3,4,8,9,10...|         0.0|
|(14,[1,3,5,8,9,10...|         0.0|
|[0.0,2.0,0.0,0.0,...|         0.0|
|(14,[1,3,4,6,8,9,...|         0.0|
|[0.0,10.0,5.0,5.0...|         0.0|
|(14,[0,3,8,9,10,1...|         1.0|
|[0.0,3.0,1.0,0.0,...|         1.0|
|(14,[1,3,8,9,10,1...|         1.0|
|(14,[1,3,5,8,9,10...|         1.0|
|(14,[0,1,5,7,8,9,...|         1.0|
|[0.0,2.0,1.0,3.0,...|         0.0|
|[0.0,6.0,1.0,4.0,...|         0.0|
|(14,[1,3,5,7,8,9,...|         1.0|
|(14,[1,3,5,7,8,9,...|         0.0|
|(14,[0,2,3,4,8,9,...|         0.0|
|(14,[2,3,4,8,9,10...|         0.0|
|(14,[1,3,8,9,10,1...|         0.0|
|[1.0,3.0,2.0,2.0,...|         1.0|
+--------------------+------------+
only showing top 20 rows

In [ ]:
splits = data.randomSplit([0.8, 0.2], 1234)
train = splits[0]
test = splits[1]

In [ ]:
from pyspark.ml.classification import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(labelCol="income_index", featuresCol="features", numTrees=5, maxBins = 45)

In [ ]:
model = rf.fit(train)

In [ ]:
predictions = model.transform(test)

In [ ]:
evaluator = MulticlassClassificationEvaluator(labelCol="income_index", predictionCol="prediction",
                                              metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

Test set accuracy = 0.846802637632265

In [ ]:
from pyspark.ml.classification import GBTClassifier
gbt = GBTClassifier(labelCol="income_index", featuresCol="features", maxIter=10, maxBins = 45)

In [ ]:
model = gbt.fit(train)
predictions = model.transform(test)
evaluator = MulticlassClassificationEvaluator(labelCol="income_index", predictionCol="prediction",metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

Test set accuracy = 0.8579972396871646

In [ ]:
from xgboost.spark import SparkXGBClassifier

In [ ]:
spark_reg_estimator = SparkXGBClassifier(
  features_col="features",
  label_col="income_index",
  num_workers=2,
)

In [ ]:
model = spark_reg_estimator.fit(train)
predictions = model.transform(test)
evaluator = MulticlassClassificationEvaluator(labelCol="income_index", predictionCol="prediction",metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

INFO:XGBoost-PySpark:Running xgboost-2.0.3 on 2 workers with
	booster params: {'objective': 'binary:logistic', 'device': 'cpu', 'nthread': 1}
	train_call_kwargs_params: {'verbose_eval': True, 'num_boost_round': 100}
	dmatrix_kwargs: {'nthread': 1, 'missing': nan}
INFO:XGBoost-PySpark:Finished xgboost training!

Test set accuracy = 0.8760926238307009

In [ ]:
df.show()

+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
|age|        workclass|fnlwgt|    education|numbers|             marital|        occupation|      relation|               race| gender| gain|loss|hourlypay|       country|income|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
| 39|        State-gov| 77516|    Bachelors|     13|       Never-married|      Adm-clerical| Not-in-family|              White|   Male| 2174|   0|       40| United-States| <=50K|
| 50| Self-emp-not-inc| 83311|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       13| United-States| <=50K|
| 38|          Private|215646|      HS-grad|      9|            Divorced| Handlers-cleaners| Not-in-family|              White|   Male|    0|   0|       40| United-States| <=50K|
| 53|          Private|234721|         11th|      7|  Married-civ-spouse| Handlers-cleaners|       Husband|              Black|   Male|    0|   0|       40| United-States| <=50K|
| 28|          Private|338409|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|          Wife|              Black| Female|    0|   0|       40|          Cuba| <=50K|
| 37|          Private|284582|      Masters|     14|  Married-civ-spouse|   Exec-managerial|          Wife|              White| Female|    0|   0|       40| United-States| <=50K|
| 49|          Private|160187|          9th|      5| Married-spouse-a...|     Other-service| Not-in-family|              Black| Female|    0|   0|       16|       Jamaica| <=50K|
| 52| Self-emp-not-inc|209642|      HS-grad|      9|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male|    0|   0|       45| United-States|  >50K|
| 31|          Private| 45781|      Masters|     14|       Never-married|    Prof-specialty| Not-in-family|              White| Female|14084|   0|       50| United-States|  >50K|
| 42|          Private|159449|    Bachelors|     13|  Married-civ-spouse|   Exec-managerial|       Husband|              White|   Male| 5178|   0|       40| United-States|  >50K|
| 37|          Private|280464| Some-college|     10|  Married-civ-spouse|   Exec-managerial|       Husband|              Black|   Male|    0|   0|       80| United-States|  >50K|
| 30|        State-gov|141297|    Bachelors|     13|  Married-civ-spouse|    Prof-specialty|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40|         India|  >50K|
| 23|          Private|122272|    Bachelors|     13|       Never-married|      Adm-clerical|     Own-child|              White| Female|    0|   0|       30| United-States| <=50K|
| 32|          Private|205019|   Assoc-acdm|     12|       Never-married|             Sales| Not-in-family|              Black|   Male|    0|   0|       50| United-States| <=50K|
| 40|          Private|121772|    Assoc-voc|     11|  Married-civ-spouse|      Craft-repair|       Husband| Asian-Pac-Islander|   Male|    0|   0|       40| United-States|  >50K|
| 34|          Private|245487|      7th-8th|      4|  Married-civ-spouse|  Transport-moving|       Husband| Amer-Indian-Eskimo|   Male|    0|   0|       45|        Mexico| <=50K|
| 25| Self-emp-not-inc|176756|      HS-grad|      9|       Never-married|   Farming-fishing|     Own-child|              White|   Male|    0|   0|       35| United-States| <=50K|
| 32|          Private|186824|      HS-grad|      9|       Never-married| Machine-op-inspct|     Unmarried|              White|   Male|    0|   0|       40| United-States| <=50K|
| 38|          Private| 28887|         11th|      7|  Married-civ-spouse|             Sales|       Husband|              White|   Male|    0|   0|       50| United-States| <=50K|
| 43| Self-emp-not-inc|292175|      Masters|     14|            Divorced|   Exec-managerial|     Unmarried|              White| Female|    0|   0|       45| United-States|  >50K|
+---+-----------------+------+-------------+-------+--------------------+------------------+--------------+-------------------+-------+-----+----+---------+--------------+------+
only showing top 20 rows

In [ ]:
from pyspark.ml.classification import MultilayerPerceptronClassifier

In [ ]:
layers = [14, 8, 6, 4, 2]

In [ ]:
trainer = MultilayerPerceptronClassifier(featuresCol = 'features', labelCol = 'income_index' ,maxIter=100, layers=layers, blockSize=128, seed=1234)

In [ ]:
model = trainer.fit(train)
predictions = model.transform(test)
evaluator = MulticlassClassificationEvaluator(labelCol="income_index", predictionCol="prediction",metricName="accuracy")
accuracy = evaluator.evaluate(predictions)
print("Test set accuracy = " + str(accuracy))

Test set accuracy = 0.7636865511424629