https://sparkbyexamples.com/pyspark-tutorial/

# **Spark ML**

### Linear Regression Using Spark ML:-

In [57]:
import pyspark

In [58]:
from pyspark.sql import SparkSession

In [59]:
spark=SparkSession.builder.appName('Car_Dekho').getOrCreate()

In [60]:
spark

In [61]:
df=spark.read.csv(r'E:\DATA SCIENCE 101 DAYS CHALENGE\Notebooks\8-Spark\cardekho_dataset.csv',inferSchema=True,header=True)

In [62]:
df.show()

+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|_c0|            car_name|        brand|      model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|
+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|  0|         Maruti Alto|       Maruti|       Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|
|  1|       Hyundai Grand|      Hyundai|      Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|     82.0|    5|       550000|
|  2|         Hyundai i20|      Hyundai|        i20|         11|    60000| Individual|   Petrol|           Manual|   17.0|  1197|     80.0|    5|       215000|
|  3|         Maruti Alto|       Maruti|       Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|
|  4|       Ford Ecosport|         Ford|   Ecosport|          6|    30000|     Dealer|   Diesel|           Manual|  22.77|  1498|    98.59|    5|       570000|
|  5|      Maruti Wagon R|       Maruti|    Wagon R|          8|    35000| Individual|   Petrol|           Manual|   18.9|   998|     67.1|    5|       350000|
|  6|         Hyundai i10|      Hyundai|        i10|          8|    40000|     Dealer|   Petrol|           Manual|  20.36|  1197|     78.9|    5|       315000|
|  7|      Maruti Wagon R|       Maruti|    Wagon R|          3|    17512|     Dealer|   Petrol|           Manual|  20.51|   998|    67.04|    5|       410000|
|  8|       Hyundai Venue|      Hyundai|      Venue|          2|    20000| Individual|   Petrol|        Automatic|  18.15|   998|   118.35|    5|      1050000|
| 12|        Maruti Swift|       Maruti|      Swift|          4|    28321|     Dealer|   Petrol|           Manual|   16.6|  1197|     85.0|    5|       511000|
| 14|       Hyundai Verna|      Hyundai|      Verna|          8|    65278|     Dealer|   Diesel|           Manual|  22.32|  1582|   126.32|    5|       425000|
| 15|      Renault Duster|      Renault|     Duster|          5|    50000| Individual|   Diesel|           Manual|  19.64|  1461|   108.45|    5|       750000|
| 16|         Mini Cooper|         Mini|     Cooper|          4|     6000|     Dealer|   Petrol|        Automatic|  14.41|  1998|   189.08|    5|      3250000|
| 17|         Maruti Ciaz|       Maruti|       Ciaz|          5|    76000|     Dealer|   Diesel|           Manual|  28.09|  1248|     88.5|    5|       650000|
| 18|        Maruti Swift|       Maruti|      Swift|          5|    20000| Individual|   Diesel|           Manual|   25.2|  1248|     74.0|    5|       627000|
| 19|Mercedes-Benz C-C...|Mercedes-Benz|    C-Class|          7|    65000|     Dealer|   Diesel|        Automatic|  19.27|  2143|    170.0|    5|      1425000|
| 20|        Maruti Swift|       Maruti|      Swift|          7|    62200|     Dealer|   Diesel|           Manual|   28.4|  1248|     74.0|    5|       425000|
| 21|       Toyota Innova|       Toyota|     Innova|          8|   110000| Individual|   Diesel|           Manual|  12.99|  2494|    100.6|    8|       605000|
| 22|       Maruti Baleno|       Maruti|     Baleno|          6|    20000| Individual|   Petrol|           Manual|   21.4|  1197|     83.1|    5|       600000|
| 23|  Maruti Swift Dzire|       Maruti|Swift Dzire|          5|    40000| Individual|   Petrol|           Manual|  20.85|  1197|    83.14|    5|       575000|
+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
only showing top 20 rows

In [63]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- car_name: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- model: string (nullable = true)
 |-- vehicle_age: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- fuel_type: string (nullable = true)
 |-- transmission_type: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: double (nullable = true)
 |-- seats: integer (nullable = true)
 |-- selling_price: integer (nullable = true)

In [64]:
from pyspark.ml.feature import StringIndexer

indexer1=StringIndexer(inputCol='brand',outputCol='brand_index')
indexer2=StringIndexer(inputCol='model',outputCol='model_index')
indexer3=StringIndexer(inputCol='seller_type',outputCol='seller_type_index')
indexer4=StringIndexer(inputCol='fuel_type',outputCol='fuel_type_index')
indexer5=StringIndexer(inputCol='transmission_type',outputCol='transmission_type_index')
indexer6=StringIndexer(inputCol='seller_type',outputCol='seller_type_index')
indexer7=StringIndexer(inputCol='car_name',outputCol='car_name_index')

In [65]:
df_indexed=indexer1.fit(df).transform(df)
df_indexed=indexer2.fit(df).transform(df)
df_indexed=indexer3.fit(df).transform(df)
df_indexed=indexer4.fit(df).transform(df)
df_indexed=indexer5.fit(df).transform(df)
df_indexed=indexer6.fit(df).transform(df)
df_indexed=indexer7.fit(df).transform(df)

In [66]:
df_indexed.show(3)

+---+-------------+-------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|_c0|     car_name|  brand|model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|car_name_index|
+---+-------------+-------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|  0|  Maruti Alto| Maruti| Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|           3.0|
|  1|Hyundai Grand|Hyundai|Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|     82.0|    5|       550000|           6.0|
|  2|  Hyundai i20|Hyundai|  i20|         11|    60000| Individual|   Petrol|           Manual|   17.0|  1197|     80.0|    5|       215000|           0.0|
+---+-------------+-------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
only showing top 3 rows

In [67]:
df_indexed.show(1)

+---+-----------+------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|_c0|   car_name| brand|model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|car_name_index|
+---+-----------+------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|  0|Maruti Alto|Maruti| Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|           3.0|
+---+-----------+------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
only showing top 1 row

In [68]:
df_indexed.select('car_name','car_name_index').distinct().show()

+-------------------+--------------+
|           car_name|car_name_index|
+-------------------+--------------+
|    Porsche Cayenne|          77.0|
|      Porsche Macan|         111.0|
|    Mahindra KUV100|          66.0|
|       Jeep Compass|          57.0|
|     Maruti Celerio|          23.0|
|            Audi A8|          90.0|
|            Audi Q7|          69.0|
|      Hyundai Creta|          16.0|
|      Toyota Innova|           7.0|
|   Land Rover Rover|          53.0|
|Bentley Continental|         100.0|
|         Honda City|           4.0|
|    Volkswagen Polo|          11.0|
|        Tata Safari|          37.0|
|           Lexus NX|         108.0|
|         Tata Tiago|          30.0|
|        Maruti Eeco|          32.0|
|        Skoda Rapid|          27.0|
|             BMW X1|          51.0|
|    Hyundai Elantra|          54.0|
+-------------------+--------------+
only showing top 20 rows

In [69]:
df_indexed.groupBy('car_name').count().show()

+--------------------+-----+
|            car_name|count|
+--------------------+-----+
|        Skoda Superb|   93|
|         Maruti Alto|  778|
|        Toyota Camry|   36|
|         Mini Cooper|   17|
|         Hyundai i20|  906|
|Mercedes-Benz C-C...|  118|
|       Maruti Vitara|  295|
| Bentley Continental|    3|
|          Tata Nexon|   85|
|        Kia Carnival|    4|
|       Hyundai Verna|  492|
|         Maruti Eeco|  125|
|    Porsche Panamera|    3|
|        Maruti Ignis|   73|
|    Mahindra Alturas|    3|
|            Lexus NX|    2|
|     Toyota Fortuner|  187|
|     Volkswagen Polo|  373|
|              BMW X5|   25|
|          Honda WR-V|  101|
+--------------------+-----+
only showing top 20 rows

In [70]:
from pyspark.ml.feature import VectorAssembler

In [71]:
df_indexed.show(4)

+---+-------------+-------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|_c0|     car_name|  brand|model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|car_name_index|
+---+-------------+-------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|  0|  Maruti Alto| Maruti| Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|           3.0|
|  1|Hyundai Grand|Hyundai|Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|     82.0|    5|       550000|           6.0|
|  2|  Hyundai i20|Hyundai|  i20|         11|    60000| Individual|   Petrol|           Manual|   17.0|  1197|     80.0|    5|       215000|           0.0|
|  3|  Maruti Alto| Maruti| Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|           3.0|
+---+-------------+-------+-----+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
only showing top 4 rows

In [72]:
assembler=VectorAssembler(inputCols=['vehicle_age','km_driven','mileage','engine','max_power','seats','car_name_index'],outputCol='features')

In [73]:
output=assembler.transform(df_indexed)

In [74]:
df_indexed.show(5)

+---+-------------+-------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|_c0|     car_name|  brand|   model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|car_name_index|
+---+-------------+-------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
|  0|  Maruti Alto| Maruti|    Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|           3.0|
|  1|Hyundai Grand|Hyundai|   Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|     82.0|    5|       550000|           6.0|
|  2|  Hyundai i20|Hyundai|     i20|         11|    60000| Individual|   Petrol|           Manual|   17.0|  1197|     80.0|    5|       215000|           0.0|
|  3|  Maruti Alto| Maruti|    Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|           3.0|
|  4|Ford Ecosport|   Ford|Ecosport|          6|    30000|     Dealer|   Diesel|           Manual|  22.77|  1498|    98.59|    5|       570000|          10.0|
+---+-------------+-------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+
only showing top 5 rows

In [75]:
train_data,test_data=output.randomSplit([.8,.2])

In [76]:
from pyspark.ml.regression import LinearRegression

In [77]:
car_req=LinearRegression(featuresCol='features',labelCol='selling_price')
model=car_req.fit(train_data)

In [78]:
result=model.evaluate(train_data)
result.r2

0.6234152095763835

In [79]:
result.rootMeanSquaredError

561437.497147557

In [80]:
pred=model.transform(test_data)

In [81]:
pred.show()

+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+--------------------+------------------+
|_c0|            car_name|        brand|      model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|car_name_index|            features|        prediction|
+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+--------------------+------------------+
|  8|       Hyundai Venue|      Hyundai|      Venue|          2|    20000| Individual|   Petrol|        Automatic|  18.15|   998|   118.35|    5|      1050000|          50.0|[2.0,20000.0,18.1...| 1356442.192817013|
| 17|         Maruti Ciaz|       Maruti|       Ciaz|          5|    76000|     Dealer|   Diesel|           Manual|  28.09|  1248|     88.5|    5|       650000|          14.0|[5.0,76000.0,28.0...| 747278.3728899073|
| 22|       Maruti Baleno|       Maruti|     Baleno|          6|    20000| Individual|   Petrol|           Manual|   21.4|  1197|     83.1|    5|       600000|          12.0|[6.0,20000.0,21.4...| 522493.5322919877|
| 26|         Maruti Alto|       Maruti|       Alto|          8|    25000|     Dealer|   Petrol|           Manual|  20.92|   998|     67.1|    5|       230000|           3.0|[8.0,25000.0,20.9...| 97643.87863553793|
| 40|  Maruti Swift Dzire|       Maruti|Swift Dzire|          8|    90000| Individual|   Diesel|           Manual|   23.4|  1248|     74.0|    5|       380000|           1.0|[8.0,90000.0,23.4...|215537.35312148125|
| 61|        Maruti Ignis|       Maruti|      Ignis|          2|    20000| Individual|   Petrol|           Manual|  20.89|  1197|     81.8|    5|       530000|          43.0|[2.0,20000.0,20.8...| 847240.6397231566|
| 64|       Datsun RediGO|       Datsun|     RediGO|          3|    27263| Individual|   Petrol|           Manual|   22.5|   999|     68.0|    5|       350000|          42.0|[3.0,27263.0,22.5...| 575908.8550219138|
| 72|      Hyundai Santro|      Hyundai|     Santro|         14|    56000|     Dealer|   Petrol|           Manual|   17.8|  1086|     63.0|    5|       125000|          31.0|[14.0,56000.0,17....|-312320.8035100222|
| 76|    Mahindra Scorpio|     Mahindra|    Scorpio|          4|    50000| Individual|   Diesel|           Manual|   15.4|  1997|    120.0|    7|      1150000|          20.0|[4.0,50000.0,15.4...|1180482.6647718174|
| 78|    Mahindra Marazzo|     Mahindra|    Marazzo|          2|    36000| Individual|   Diesel|           Manual|   17.3|  1497|    121.0|    7|       990000|          68.0|[2.0,36000.0,17.3...|1468586.0065222557|
| 83|  Maruti Swift Dzire|       Maruti|Swift Dzire|          3|    30000| Individual|   Petrol|           Manual|  21.21|  1197|     81.8|    5|       575000|           1.0|[3.0,30000.0,21.2...| 646990.8189290802|
| 93|         Ford Aspire|         Ford|     Aspire|          4|    30000| Individual|   Petrol|           Manual|  18.16|  1196|     86.8|    5|       480000|          45.0|[4.0,30000.0,18.1...| 753110.3929639705|
| 95|        Maruti Swift|       Maruti|      Swift|         10|   160000| Individual|   Diesel|           Manual|   17.8|  1248|     75.0|    5|       225000|           2.0|[10.0,160000.0,17...|-25752.10201129329|
|100|Mercedes-Benz C-C...|Mercedes-Benz|    C-Class|          9|    74352|     Dealer|   Petrol|        Automatic|  11.74|  1796|    186.0|    5|       775000|          35.0|[9.0,74352.0,11.7...| 1821304.747523538|
|105|       Toyota Innova|       Toyota|     Innova|          5|   120000| Individual|   Diesel|           Manual|  12.99|  2494|    100.6|    8|       950000|           7.0|[5.0,120000.0,12....| 743376.4777165235|
|109|           Ford Figo|         Ford|       Figo|         10|    40000| Individual|   Petrol|           Manual|   15.6|  1196|     70.0|    5|       130000|          21.0|[10.0,40000.0,15....|-1571.611006509862|
|113|     Volkswagen Polo|   Volkswagen|       Polo|          8|    90000|     Dealer|   Diesel|           Manual|  22.07|  1199|     73.9|    5|       365000|          11.0|[8.0,90000.0,22.0...| 220768.9018927219|
|144|        Maruti Swift|       Maruti|      Swift|          3|    35000|     Dealer|   Petrol|           Manual|   22.0|  1197|     81.8|    5|       575000|           2.0|[3.0,35000.0,22.0...| 659465.7965794841|
|148|       Hyundai Grand|      Hyundai|      Grand|          6|    36000|     Dealer|   Petrol|           Manual|   18.9|  1197|     82.0|    5|       400000|           6.0|[6.0,36000.0,18.9...|436811.02162236907|
|154|      Maruti Wagon R|       Maruti|    Wagon R|          2|    50000| Individual|   Petrol|           Manual|  21.79|   998|    67.05|    5|       411000|           5.0|[2.0,50000.0,21.7...| 479032.2422951325|
+---+--------------------+-------------+-----------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+--------------+--------------------+------------------+
only showing top 20 rows

In [82]:
result_test=model.evaluate(test_data)

In [83]:
result_test.r2

0.661500498681199

In [84]:
result_test.rootMeanSquaredError

468684.18655342056

## Loginstic Regresion Using Pyspark:-

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession('')